<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Export platform" sequenceNumber="503">
<locations>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/felix" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/aries" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/pi4j" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/hazelcast" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/osgi" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/slf4j" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/pax-web-snapshot" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/jackson" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/joda" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/xml" type="Directory"/>
<location path="/Users/frank/Documents/workspace-thirdparty/com.dexels.everywear.thirdparty/lib/other" type="Directory"/>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<includeBundles>
<plugin id="org.apache.felix.webconsole.plugins.packageadmin"/>
<plugin id="org.apache.felix.resolver"/>
<plugin id="org.apache.aries.proxy.impl"/>
<plugin id="org.ops4j.pax.web.pax-web-extender-whiteboard"/>
<plugin id="org.apache.felix.webconsole.plugins.event"/>
<plugin id="org.apache.felix.scr"/>
<plugin id="org.ops4j.pax.web.pax-web-jsp"/>
<plugin id="joda-time"/>
<plugin id="org.ops4j.pax.web.pax-web-extender-war"/>
<plugin id="org.apache.aries.proxy.api"/>
<plugin id="org.apache.felix.webconsole.plugins.ds"/>
<plugin id="org.apache.felix.webconsole"/>
<plugin id="org.apache.felix.dependencymanager"/>
<plugin id="org.apache.felix.framework.security"/>
<plugin id="org.apache.felix.dependencymanager.shell"/>
<plugin id="org.apache.aries.blueprint.cm"/>
<plugin id="osgi.core"/>
<plugin id="org.ops4j.pax.web.pax-web-deployer"/>
<plugin id="org.apache.felix.deployment.rp.autoconf"/>
<plugin id="org.apache.aries.quiesce.api"/>
<plugin id="org.apache.felix.shell"/>
<plugin id="org.apache.felix.webconsole.plugins.upnp"/>
<plugin id="org.apache.aries.jmx.api"/>
<plugin id="org.apache.aries.jmx.blueprint.core"/>
<plugin id="org.apache.aries.util"/>
<plugin id="org.apache.felix.prefs"/>
<plugin id="com.hazelcast.all" version="2.6.3"/>
<plugin id="pi4j-service"/>
<plugin id="jackson-mapper-lgpl"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.apache.felix.fileinstall"/>
<plugin id="org.w3c.dom"/>
<plugin id="org.apache.felix.shell.tui"/>
<plugin id="org.apache.felix.gogo.command"/>
<plugin id="slf4j.api"/>
<plugin id="org.apache.aries.blueprint.core.compatibility"/>
<plugin id="org.ops4j.pax.web.pax-web-api"/>
<plugin id="slf4j.simple"/>
<plugin id="org.apache.aries.blueprint.core"/>
<plugin id="org.ops4j.pax.web.pax-web-spi"/>
<plugin id="org.apache.felix.eventadmin"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="osgi.enterprise"/>
<plugin id="org.apache.felix.dependencymanager.compat"/>
<plugin id="org.apache.aries.jmx.core"/>
<plugin id="org.apache.felix.configadmin"/>
<plugin id="org.apache.felix.inventory"/>
<plugin id="org.ops4j.pax.web.pax-web-tomcat"/>
<plugin id="org.apache.felix.servicediagnostics.plugin"/>
<plugin id="org.apache.aries.blueprint.api"/>
<plugin id="org.apache.aries.jmx.whiteboard"/>
<plugin id="org.osgi.service.obr"/>
<plugin id="org.apache.felix.gogo.shell"/>
<plugin id="org.apache.felix.webconsole.plugins.memoryusage"/>
<plugin id="org.apache.felix.framework"/>
<plugin id="osgi.cmpn"/>
<plugin id="org.apache.felix.deploymentadmin"/>
<plugin id="pi4j-core"/>
<plugin id="com.springsource.org.apache.commons.io"/>
<plugin id="org.ops4j.pax.web.pax-web-jetty-bundle"/>
<plugin id="org.apache.aries.jmx.blueprint.api"/>
<plugin id="org.ops4j.pax.web.pax-web-jetty"/>
<plugin id="org.apache.felix.log"/>
<plugin id="javax.servlet" version="3.0.0.v201112011016"/>
<plugin id="org.apache.felix.webconsole.plugins.obr"/>
<plugin id="org.apache.felix.shell.remote"/>
<plugin id="jackson-core-lgpl"/>
<plugin id="com.springsource.org.apache.commons.fileupload"/>
<plugin id="org.apache.felix.metatype"/>
<plugin id="org.ops4j.pax.web.pax-web-runtime"/>
<plugin id="org.apache.felix.dependencymanager.runtime"/>
<plugin id="com.springsource.mx4j"/>
<plugin id="org.apache.felix.bundlerepository"/>
<plugin id="com.springsource.org.json"/>
</includeBundles>
</target>
